* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  font-family: 'Press Start 2P', cursive;
}

button {
  position: absolute;
  z-index: 99;
  height: 100px;
  width: 100px;
  display: block;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

li {
  list-style: none;
  margin-bottom: 20px; /* Add space between list items */
  transition: transform 0.3s ease, color 0.3s ease; /* Add transition for smooth animation */
}

li:before {
  content: "•";
  color: white;
}

ol {
  counter-reset: item;
}

ol li {
  display: block;
}

ol li:before {
  content: counter(item)". ";
  counter-increment: item;
  color: white;
}

.li-work:hover:before {
  content: '01 - work';
  cursor: pointer;
  color: red; /* Change color on hover */
  transform: scale(1.2); /* Scale up on hover */
}

.li-games:hover:before {
  content: '02 - life';
  cursor: pointer;
  color: green; /* Change color on hover */
  transform: scale(1.2); /* Scale up on hover */
}

.li-skills:hover:before {
  content: '03 - stack';
  cursor: pointer;
  color: blue; /* Change color on hover */
  transform: scale(1.2); /* Scale up on hover */
}

.ulHome {
  list-style: none;
  padding: 0;
}

.li-home {
  padding-left: 1.3em;
}

.li-home:before {
  font-family: "Font Awesome 5 Brands";
  content: "\f066";
  font-weight: 900;
  display: inline-block;
  margin-left: -1.3em;
  width: 1.3em;
}

#divBienvenu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  color: black;
}


