* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  font-family: 'Press Start 2P', cursive;
}

button {
  position: absolute;
  z-index: 99;
  height: 100px;
  width: 100px;
  display: block;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

li {
  list-style: none;
  margin-bottom: 20px; /* Add space between list items */
  transition: transform 0.3s ease, color 0.3s ease; /* Add transition for smooth animation */
}

li:before {
  content: "•";
  color: white;
}

ol {
  counter-reset: item;
}

ol li {
  display: block;
}

ol li:before {
  content: counter(item)". ";
  counter-increment: item;
  color: white;
}

.li-work:hover:before {
  content: '01 - work';
  cursor: pointer;
  color: whitesmoke;
  transform: scale(1.2); /* Scale up on hover */
}

.li-games:hover:before {
  content: '02 - life';
  cursor: pointer;
  color: whitesmoke;
  transform: scale(1.2); /* Scale up on hover */
}

.li-skills:hover:before {
  content: '03 - stack';
  cursor: pointer;
  color: whitesmoke;
  transform: scale(1.2); /* Scale up on hover */
}

.ulHome {
  list-style: none;
  padding: 0;
}

.li-home {
  padding-left: 1.3em;
}

.li-home:before {
  font-family: "Font Awesome 5 Brands";
  content: "\f066";
  font-weight: 900;
  display: inline-block;
  margin-left: -1.3em;
  width: 1.3em;
}

#divBienvenu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  color: black;
}

.home-icon {
  position: fixed; /* Fixe l'élément à un endroit spécifique de la fenêtre */
  left: 10%; /* Positionne l'élément à 10% du bord gauche */
  bottom: 10%; /* Positionne l'élément à 10% du bas de la fenêtre */
  width: 50px; /* Largeur du carré */
  height: 50px; /* Hauteur du carré, égale à la largeur pour former un carré */
  background-color: rgba(0, 0, 0, 0.5); /* Fond noir semi-transparent */
  display: flex; /* Utilisé pour centrer le contenu à l'intérieur */
  justify-content: center; /* Centre horizontalement le contenu */
  align-items: center; /* Centre verticalement le contenu */
  border-radius: 5px; /* Ajoute des coins légèrement arrondis */
  cursor: pointer;
  transition: transform 0.3s ease; /* Transition pour l'agrandissement */
}

.home-icon:hover {
  transform: scale(2); /* Agrandit le conteneur à 120% de sa taille originale */
}

.home-icon img {
  transition: transform 0.3s ease; /* Transition pour l'animation de l'image */
}

.home-icon:hover img {
  animation: jiggle 0.3s infinite; /* Applique l'animation de tremblement */
}

@keyframes jiggle {
  0%, 100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-2px);
  }
  50% {
    transform: translateX(2px);
  }
  75% {
    transform: translateX(-2px);
  }
}



.soundbouton{
  position: fixed; /* Fixe l'élément à un endroit spécifique de la fenêtre */
  left: 5%; /* Positionne l'élément à 10% du bord gauche */
  top:10%; /* Positionne l'élément à 10% du bas de la fenêtre */
  width: 160px; /* Largeur du carré */
  height: 20px; /* Hauteur du carré, égale à la largeur pour former un carré */
  background-color: rgba(0, 0, 0, 0.5); /* Fond noir semi-transparent */
  display: flex; /* Utilisé pour centrer le contenu à l'intérieur */
  justify-content: center; /* Centre horizontalement le contenu */
  align-items: center; /* Centre verticalement le contenu */
  border-radius: 5px; /* Ajoute des coins légèrement arrondis */
}

#sound-toggle {
  background: none; /* Supprime le fond par défaut du bouton */
  color: white; /* Définit la couleur du texte */
  border: none; /* Supprime la bordure par défaut */
  cursor: pointer; /* Change le curseur en pointeur */
  font-size: 14px; /* Définit la taille de la police */
  padding: 5px 10px; /* Ajoute un padding pour transformer le bouton en rectangle */
  line-height: 1; /* Assure que la hauteur de ligne est égale à la taille de la police */
  font-family: 'Press Start 2P', cursive; /* Applique la police Press Start 2P */
  width: 200px; /* Largeur du carré */

}


.portfolio {
  position: absolute;
  top: 3%;
  left: 1%;
  text-align: left;
  font-size: 2vw; /* Utilisation d'unités relatives pour la taille de la police */
  color: white;
  white-space: nowrap; /* Empêche le texte de se casser sur plusieurs lignes */
  overflow: hidden; /* Cache le débordement si nécessaire */
  max-width: 96%; /* Assure que le texte ne dépasse pas la largeur de l'écran */
}


        /* New styles for the arrow key symbol */
        .arrow-keys {
          position: fixed;
          bottom: 10%;
          right: 10%;
          display: grid;
          grid-template-columns: repeat(3, 20px);
          grid-template-rows: repeat(2, 20px);
          gap: 5px;
          align-items: center;
          justify-items: center;
          border-radius: 5px;

      }

      .key-square {
          width: 20px;
          height: 20px;
          background-color: white;
          border-radius: 5px;
          transition: background-color 0.2s;

      }

      .empty-space {
          visibility: hidden;
      }


      .key-square.illuminated {
        background-color: grey;
    }